body {
    background-image: url('https://t3.ftcdn.net/jpg/04/83/90/18/360_F_483901821_46VsNR67uJC3xIKQN4aaxR6GtAZhx9G8.jpg');
}

a {
    text-decoration: none;
}


h1 {
    font-family: 'Shadows Into Light', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    background-color: red;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 15px black;
    position: relative;
    top: 0%;
}

h1:active {
    box-shadow: 0px 0px;
    position: relative;
    top: 15px;
   

}
aside {
    text-align: center;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 15px;
}

table {
    margin: 20px 20px;    
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

caption {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Instrument Serif', sans-serif;
    letter-spacing: 0.5em;
    background-color: black;
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
}

th {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Instrument Serif', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 0.2em;
}

td {
    background-color: rgb(39, 31, 31);
    /*background-color: aqua;*/
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    line-height: 1.5;
    color: white;
    
}

span{
    font-weight: bold;
}

.type{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
